.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(24, 0, 168, 0.65);
  padding: 20px 50px;
  border-radius: 15px;
  transition: .3s;

  &:hover {
    background: rgba(24, 0, 168, 0.55);
  }
}

/*568px*/

@media (max-width: 568px) {
  .btn {
    padding: 15px 30px;
  }
}

/*------*/